<div class="container find">
    <div class="row">
        <div class="col l12">
            <div class="card grey darken-2">
                <div class="card-content white-text">
                    <div class="form-wrap">
                        <form method="POST" action="/post">
                            <div class="input-group">
                                <label for="project_name" style="color:white">Project Search</label>
                                <input type="text" name="project_name" id="project_name_1" class="input-box"
                                    placeholder="Add Project Name" maxlength="100" style="font-size: x-small">
                                <button type="submit" class="btn btn-success submit grey darken-4">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>