<div class="container">
    <div class="row">
        <div class="col l12">
            <div class="card grey darken-2">
                <div class="card-content white-text">
                    <div class="form-wrap">
                        {{#each errors}}
                        <div class="error">
                            <p>{{text}}</p>
                        </div>
                        {{/each}}
                        <form method="POST" action="/post">
                            <div class="input-group">
                                <label for="project_name" style="color:white">Project Name</label>
                                <input type="text" name="project_name" id="project_name_1" class="input-box"
                                    placeholder="Add Project Name" maxlength="100" style="font-size: x-small">
                            </div>
                            <div class="input-group">
                                <label for="project_status" style="color:white">Project Status</label>
                                <input type="text" name="project_status" id="project_status" class="input-box"
                                    placeholder="Add Project Status of New, Active, Hold, or Complete" maxlength="100"
                                    style="font-size: x-small">
                            </div>
                            <div class="input-group">
                                <label for="project_manager" style="color:white">Project Manager</label>
                                <input type="text" name="project_manager" id="project_manager" class="input-box"
                                    placeholder="Add Project Manager" maxlength="100" style="font-size: x-small">
                            </div>
                            <div class="input-group">
                                <label for="percent_complete" style="color:white">Percent Complete</label>
                                <input type="text" name="percent_complete" id="percent_complete" class="input-box"
                                    placeholder="Add Percent Complete" maxlength="100" style="font-size: x-small">
                            </div>
                            {{!-- <div class="input-group">
                                <label for="start_date" style="color:white">Start Date</label>
                                <input type="text" name="start_date" id="start_date" class="input-box"
                                    placeholder="Add Start Date" maxlength="100" style="font-size: x-small">
                            </div> --}}
                            <div class="input-group">
                                <label for="due_date" style="color:white">Due Date</label>
                                <input type="text" name="due_date" id="due_date" class="input-box"
                                    placeholder="Add Due Date" maxlength="100" style="font-size: x-small">
                            </div>
                            <button type="submit" class="btn btn-success submit grey darken-4">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>